
.header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 30vh;
    width: 100vw;
    background-color: #800080;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4em;
    color: #add8e6;
}

.nav {
    
    
    
}

.nav-link {
    text-decoration: none;
    color: #add8e6;
    font-size: 1em;
    word-spacing: .5em;
}
/* .header-background {
    height: 30vh;
    width: 100vw;
    object-fit: cover;
} */